{% extends "base.html" %}

{% block body %}
<section class="py-3 py-md-5 py-xl-8">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
        <h2 class="mb-4 display-5 text-center">About Us</h2>
        <p class="text-secondary mb-5 text-center lead fs-4">Welcome to Tech Haven!
At Tech Haven, we pride ourselves on being your one-stop destination for all things electronic. Whether you’re looking for the latest smartphones, high-performance laptops, state-of-the-art home appliances, or top-notch gaming gear, we’ve got you covered. Our extensive product range includes trusted brands and the latest innovations in technology, ensuring you find exactly what you need.</p>
        <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row gy-4 gy-lg-0 align-items-lg-center">
      <div class="col-12 col-lg-6">
        <img class="img-fluid rounded border border-dark" loading="lazy" src="https://media.istockphoto.com/id/1079827222/photo/lovely-design-student-working-at-home.webp?b=1&s=170667a&w=0&k=20&c=Fss_-_hDTbLNYTOrljotsdAUpPg2zSrRs14K1mIDHfA=" alt="About Us">
      </div>
      <div class="col-12 col-lg-6 col-xxl-6">
        <div class="row justify-content-lg-end">
          <div class="col-12 col-lg-11">
            <div class="about-wrapper">
              <p class="lead mb-4 mb-md-5">    • Wide Selection: Explore our vast inventory featuring the latest and greatest in tech products.
    •    Competitive Prices: Enjoy the best deals and offers, ensuring you get value for your money.
    •    Expert Staff: Our knowledgeable and friendly staff are here to help you make informed decisions.
    •    Customer Satisfaction: We prioritize your satisfaction with hassle-free returns and excellent customer service.
.</p>
              <div class="row gy-4 mb-4 mb-md-5">
                <div class="col-12 col-md-6">
                  <div class="card border border-dark">
                    <div class="card-body p-4">
                      <h3 class="display-5 fw-bold text-primary text-center mb-2">100k+</h3>
                      <p class="fw-bold text-center m-0">One Of The Best Certified Company</p>
                    </div>
                  </div>
                </div>

              </div>
              <a href="/" class="btn btn-primary bsb-btn-2xl">
                Main Page
                <svg xmlns="" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8" />
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{%endblock%}
